* {
 margin:0;
padding:0;
box-sizing:border-box;
}
htmt,body {
 height:100%;
 width:100%;
 background-color: white;
 padding: 20px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.card{
    height: 300px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
.bottom{
    height: 40%;
    width:100%;
    background: linear-gradient(transparent,black);
    position: absolute;
    bottom: -40%;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.bottom h4{
    color: white;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 30px;
    font-weight: 300;
}
.bottom h3{
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
.card:hover .bottom{
    bottom: 0;
}
