*{
    margin: 0;
    padding:0;
    font-family: "helvetica now display";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
font-face{
     font-family: font; 
     src: url(helveticanowdisplay-black.ttf) 
}

#main{
    width: 100%;
    height: 100%;
    background-color: white;
}

#navbar{
    padding: 20px 30px;
}

#navbar a{
    color: black;
    font-family: font;
    font-size: 25px;
    margin-right: 50px;
    text-decoration: none;

}

#main>h1{
    padding-left: 30px;
    font-size:300px;
    font-weight: 150;
}

#bottomleft{
    position: absolute;
    bottom: 8%;
    left:3%;
    width: 200px;
}

#bottomleft h3{
    font-size:20px;
}

#bottomleft p{
    font-size: 15px;
    margin-top: 5px;
}

#bottomleft h4{
    margin-top: 30px;
    font-size: 18px;

}
#bottombar {
    display: flex;
    justify-content: space-between;
    position: absolute;
     width: 100%;
     padding: 5px 45px;
     bottom: 0;
     left: 0;
}

#bottombar a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  bottom: 0;
}
#main>img{
    position: absolute;
    height: 300px;
}

#main #firstimg{
    height: 200px;
    width: 200px;
    top: 68%;
    left: 54%;
}

#main #secimg{
    height: 200px;
    width: 200px;
    top: 55%;
    left: 40%;
}

#main #thirdimg{
    height: 350px;
    top: 45%;
    left: 65%;
}